<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="header">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Bootstrap Header</title>
</head>

<body>
<header class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Management System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" th:if="${authenticatedClient != null}">
            <span id="userFullNameContainer" class="nav-link">
              <span th:text="${authenticatedClient.firstName + ' ' + authenticatedClient.lastName}"></span>
            </span>
        </li>
        <li class="nav-item" th:if="${authenticatedClient == null}">
          <a id="loginLink" class="nav-link" href="/adminlogin.html">Login</a>
        </li>
        <li class="nav-item" th:if="${authenticatedClient != null}">
          <a id="logoutLink" class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</header>

<script th:inline="javascript">
  // Function to display user's full name and toggle login/logout links
  function displayUserOrLoginLogout(userFullName) {
    const userFullNameContainer = document.getElementById('userFullNameContainer');
    const loginLinkElement = document.getElementById('loginLink');
    const logoutLinkElement = document.getElementById('logoutLink');

    if (userFullName) {
      userFullNameContainer.style.display = ''; // Show user's full name
      loginLinkElement.style.display = 'none'; // Hide login link
      logoutLinkElement.style.display = ''; // Show logout link
    } else {
      userFullNameContainer.style.display = 'none'; // Hide user's full name
      loginLinkElement.style.display = ''; // Show login link
      logoutLinkElement.style.display = 'none'; // Hide logout link
    }
  }

  // Check if user session exists and retrieve the user's full name
  const userSessionExists = /*[[${authenticatedClient != null}]]*/ false;
  const userFullName = /*[[${authenticatedClient.firstName + ' ' + authenticatedClient.lastName}]]*/ null;

  // Call the function with the user's full name (if available)
  displayUserOrLoginLogout(userSessionExists ? userFullName : null);
</script>
</body>

</html>
